.clear {clear: both;}

.kmi-one-column {width: 100%;}
.kmi-two-columns {width: 50%;}
.kmi-four-columns {width: 25%;}

.left {float: left;}
.right {float: right;}
.align-center {text-align: center;}
.align-left {text-align: left;}
.align-right {text-align: right;}

.vertical-resize {resize: vertical;}

.success {background-color: #CCFF99; border: 1px solid #008000; padding: 5px;}
.error {background-color: #FFEBE8; border: 1px solid #C00; padding: 5px;}

.red {color: #C00;}

.bold {font-weight: bold;}
.bolder {font-weight: bolder; font-size: 18px;}
.no-style {list-style: none;}

.bottom-border {border-bottom: 1px solid;}

.bg-grey {background-color: #D4D4D4;}

table.kmi-table
{
    border-collapse: collapse;
    border-spacing: 0px;
}
.kmi-table th
{
    border: 1px solid;
    padding: 3px;
    vertical-align: top;
    margin: 0;
}
.kmi-table td
{
    border: 1px solid;
    padding: 7px 5px;
    vertical-align: top;
    margin: 0;
}